#receive-news{
    background-color: rgb(87, 186, 231);
    border-radius: unset;
    display: flex;
    padding: 20px 0;
}
.title-receive-news{
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    justify-content: right;
    padding: 0 20px;
}
.form-email{
    flex-grow: 1;
    text-align: center;
}
.box-form{
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;
}
.box-form form{
    flex :5;
    padding: 0 10px;
}
.box-form form input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}
.box-form button{
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgb(19, 138, 235);
    color: white;
    text-transform: uppercase;

}